<div class ="content_post">  

     <p><%= post.title%></p>
     <p><%= post.sentence%></p>
         <span class="name" >
          <a href ="/users/<%= post.user.id %>">
            <span>投稿者</span><%= post.user.nickname%>
          </a>
           
         </span>

</div>         