<div class='post-contents'>
      <div class="subtitle" >
      新規投稿
    </div>

     <%= render partial: "form",locals:{post: @post} %>
</div>

<div class= 'top-page-direction'>
  <li><%= link_to "トップページへ", posts_path, class: "top-page-direction-link" %></li> 
</div>